<div class="row">
  <% if @parent %>
    <%= render partial: 'shared/comment_summary', object: @comment.parent, as: :comment %>
  <% else %>
    <%= render partial: 'shared/post_summary', object: @comment.post, as: :post %>
  <% end %>
</div>

<%= render partial: 'comments/form', locals: { comment: @comment } %>
