<div class="well">
	<div class="row">
		<p>
			<%= link_to comment.user.username, comment.user %> | posted 
			<%= time_ago_in_words(comment.created_at) %> ago 
		</p>
	</div>
	<div class="row">
		<p><%= comment.text %></p>
	</div>
	<div class="row">
		<%= link_to 'Reply', new_board_post_comment_path(comment.post.board,
																										 comment.post,
																										 parent_id: comment.id) %>
	</div>
</div>
