<div class="vote_box">
	<div class="vote up_arrow">
		<%= link_to	content_tag(:span, nil, class: "glyphicon glyphicon-chevron-up"),
								vote_path(klass: voteable.class,
													id: voteable.id,
													direction: 'up'),
								method: :post,
								remote: true %>
	</div>
	<div id="<%= "#{voteable.class}_#{voteable.id}_tally" %>" class="vote tally">
		<%= voteable.plusminus %>
	</div>
	<div class="vote down_arrow">
		<%= link_to	content_tag(:span, nil, class: "glyphicon glyphicon-chevron-down"),
								vote_path(klass: voteable.class,
													id: voteable.id,
													direction: 'down'),
								method: :post,
								remote: true %>
	</div>
</div>