<p class="text-center">
	<%= link_to	content_tag(:span, nil, class: "glyphicon glyphicon-chevron-up"),
							"#{vote_object}#up_vote" %>
</p>
<p class="text-center">
	<%= link_to	content_tag(:span, nil, class: "glyphicon glyphicon-chevron-down"),
							"#{vote_object}#down_vote" %>
</p>