<p class="text-center">
	<%= link_to	content_tag(:span, nil, class: "glyphicon glyphicon-chevron-up"),
							vote_path(klass: voteable.class,
												id: voteable.id,
												direction: 'up'),
							remote: true %>
</p>
<p class="text-center">
	<%= link_to	content_tag(:span, nil, class: "glyphicon glyphicon-chevron-down"),
							vote_path(klass: voteable.class,
												id: voteable.id,
												direction: 'down'),
							remote: true %>
</p>