<div class="row">
  <div class="col-sm-12">
    <ul>
      <li>
        <h4>
          <%= link_to board.title, board_path(board) %> |
          <small><%= board.slug %></small>
        </h4>
      </li>
    </ul>
  </div>
</div>
