<div class="row">
	<h4><%= link_to post.title, board_post_path(params[:id], post.id) %></h4>
</div>
<div class="row">
	submitted <%= time_ago_in_words(post.created_at) %> ago 
		by <%= link_to post.user.username %>
</div>
<div class="row">
	<%= post.comments.size %> comments
</div>