<div class="jumbotron">
	<h2><%= @board.title %></h2>
	<h4><%= @board.description %></h4>
</div>

<hr />

<%= link_to 'Create new post', new_board_post_path(@board), class: 'btn btn-primary' %>

<hr />

<h4>Recent posts</h4>
<% if @posts.any? %>
	<div class="well">
		<%= render partial: 'shared/post', collection: @posts %>
	</div>
<% else %>
	<div class="well">
		<p>We ain't found shit.</p>
	</div>
<% end %>
