// Place all the styles related to the Comments controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

div.comment {
  margin-top: 10px;
  margin-bottom: 10px;

  div.comment-detail-title { padding-left: 14px; }
}

div.nested-comment {
  div.nested-comment { margin-left: 20px; }
}

div.comment-post {
  h5 {
    margin-left: 16px;
    margin-bottom: 4px;
  }
}

div.comment-vote-box {
  margin-top: 4px;
  margin-left: 14px;
}

div.comment-header {
  margin-top: 4px;

  p { margin-bottom: 4px; }
}

div.comment-text {
  p { margin-bottom: 4px; }
}
