// Place all the styles related to the Posts controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.rounded_box {
  border: 1px solid #cccccc;
  border-radius: 10px;
}

div.post-summary {
  margin-top: 10px;
  margin-bottom: 10px;
}

div.post {
  margin-top:      8px;
  padding-top:    20px;
  padding-bottom: 20px;
}

div.post-vote-box {
  margin-top:   8px;
  margin-left: 16px;
}

div.post-title > h4 {
  margin-top:    10px;
  margin-bottom:  6px;
}

div.post-text {
  margin-right: 15px;
}

div.postdecorator-vote-box {
  margin-top:  8px;
  margin-left: 0px;
}

h3#post-title {
  margin-top:    6px;
  margin-bottom: 2px;
}

div.comment-reply-form {
  margin-top: 10px;
}
