// Place all the styles related to the Posts controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

div.post {
  margin-top: 10px;
  margin-bottom: 10px;
}

div.post-board {
  h5 {
    margin-left: 18px;
    margin-top: 10px;
    margin-bottom: 0px;
  }
}

div.post-vote-box, div.postdecorator-vote-box {
  margin-top:   8px;
  margin-left: 14px;
}

div.post-title {
  h4 {
    margin-top:    10px;
    margin-bottom:  6px;
  }
}

div.post-text {
  background-color: #f9faf9;

  p {
    margin-top: 10px;
    margin-left: 8px;
  }
}

div.post-stats > p {
  margin-bottom: 0px;
}

div.comment-reply-form {
  margin-top: 10px;
}
